body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #27374D;
    font-size: 18px;
    color: #fff;
}

header {
    padding-left: 22%;
    padding-right: 22%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

header h1 {
    font-size: xxx-large;
    text-align: center;    
}

h1{
    color: #9DB2BF;
}

h2,h3{
    color: #DDE6ED;
}

footer {
    background-color: #DDE6ED;
    border-radius: 15px;
    margin: 20px 10% 10px 10%;
    display: grid;
    grid-template-columns: 200px;
    grid-gap: 10px;
    align-items: center;
    justify-content: end;
    font-size: small;
    color: #000;
}

section,
article {
    margin: 20px 10% 10px 10%;
    padding: 10px;
}

.renglon5 {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 5px;
    text-align: center;
}

.renglon2 {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-gap: 5px;
}

.renglon3 {
    display: flex;
    grid-template-columns: repeat(3, 20%);
    grid-gap: 5px;
}
  
.column{
    margin-top: 8px;
    vertical-align: middle;
    margin: 10px;
    padding: 0;
    align-items: center;
 }

p {
    padding: 5px;
}

.imgRedonda {
    border: 2px solid #000;
    width: 210px;
    height: 210px;
    border-radius: 150px;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

.alertCyan {
    background: #526D82;
    border-radius: 15px;
}

nav {
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
   
}

menu {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-bottom: 0;
    gap: 1em;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #27374D;
}

menu .selected {
    background-color: #fff;
    color: #000;
}

menu li {
    /* display: inline-block; */
    width: 10%;
    padding: 5px 10px;
    background-color: #000;
    border: 1px solid #000;
    text-align: center;
    color: #fff;
}

menu li:hover {
    background-color: #fff;
    color: #000;
}

menu a {
    padding: 5px 25%;
    text-decoration: none;
    color: inherit;
    font-size: large;
}

table {
    margin: 10px 5% 10px 5%;
    background-color: #526D82;

}

thead {
    background: darkblue;
    color: #fff;
    font-size: large;
}

td {
    width: 16.5%;
}

td img {
    width: 100%;
}

center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.myInput {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.myButtton {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.myButtton:hover {
    background-color: #45a049;
}

.galeriaIV{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.img_resp {
    width: 100%;
    height: auto;
}

.img_tamaño{
    width: 500px;
    height: 200px;
}